.page {
  background-color: #000000;
  min-width: 320px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  box-sizing: border-box;
  /* width: 100%; */
  margin: 0 auto;
  min-height: 100vh;
}
