.element__trash-button {
  background-image: url(../../../images/Group.svg);
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 19px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  display: none;
}
.element__trash-button:hover {
  opacity: 0.5;
}
