.element {
  border-radius: 10px;
  background-color: #ffffff;
  width: 282px;
  height: fit-content;
  overflow: hidden;
  color: #000000;
  position: relative;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .element {
    margin: 0 auto;
  }
}
