.profile__change-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/change.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
}
