.profile__info {
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 18px;
  max-width: 336px;
  min-height: 73px;
  margin: 22px 0 0;
}

@media screen and (max-width: 560px) {
  .profile__info {
    grid-template-columns: 194px 1fr;
    row-gap: 14px;
    max-width: 282px;
    min-height: 54px;
    column-gap: 10px;
    margin: 22px auto 0 65px;
  }
}
