.profile__info {
  grid-template-columns: 2, 3;
  grid-template-rows: 1, 3;
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 18px;
  width: 336px;
  height: 73px;
  padding-top: 22px;
}
