.profile__author {
  font-size: 41px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 295px;
  margin-bottom: -9px;
}

@media screen and (max-width: 560px) {
  .profile__author {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 190px;
  }
}
